config.env
__pycache__/*
brains.check
learning-data-root.check
downloads/
userbot/__pycache__/
userbot/modules/__pycache__/
userbot/user_modules/__pycache__/
userbot/utils/__pycache__/
.progress
.vscode/*
.idea/*
*secret*
error.log
bin/*
dump.rdb
*.mp4
*.mp3
*.jpg
