config.env
__pycache__/*
brains.check
learning-data-root.check
userbot.db
userbot.session
userbot.session-journal
userbot/__pycache__/*
userbot/modules/__pycache__/*
userbot/modules/sql_helper/__pycache__/*
.progress
.vscode/*
.idea/*
*secret*
error.log
